
.dadashboard{
    display: flex;
    .dadashboard-item{
        padding: 15px;
        flex: 1;
    }
    .small-Card-row{
        display: flex;
        justify-content: space-between;
        grid-gap: 15px;
        .small-card{
            flex: 1;
            color: var(--white);
            padding: 10px;
        }
        .green-card
        {
            background:var(--green-color);
        }
        .blue-card
        {
            background:var(--lite-blue);
        }
        .orange-card
        {
            background:var(--dark-orange);
        }
    }
}